@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Open Sans", sans-serif;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Content_wrapper{
  width: 50%;
  background-color: rgb(12, 59, 46);
  padding: 5%;
  color: #ffffff;
  height: 100vh;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
}

h2 {
  margin-bottom: 100px;
  font-weight: 200;
}
figure {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.button {
  margin-top: 20px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: orange;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: orange;
}

.Container{
  background-image: url('https://media-public.canva.com/pSptc/MAEcwupSptc/1/s3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
